 <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<title>Title of the document</title>
</head>

<body ng-app="genericsapp" ng-controller="MainController as ma">
	
	<button ng-click="ma.listar()">Load</button>
	<ul>
		<li ng-repeat="contato in ma.entitys">{{contato.nome}} - {{contato.fone}}</li>
	</ul>	

	<script src="bower_components/angular/angular.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/controller.inheritance.js"></script>
	<script src="app/service.js"></script>
</body>

</html> 